li {
    margin-bottom: 15px;
}
.example-1 {
    width: 70px;
    padding: 10px 20px;
    border: 2px solid black;
}
.example-2 {
    color: black;
    background-color: coral;
    width: 80px;
    padding: 10px 0px;
    text-align: center;
}
.example-3 {
    width: 70px;
    color: red;
    font-size: 17px;
    border: dashed 3px red;
    padding: 10px;
    font: bold;
}
.example-4 {
    color: darkblue;
    width: 150px;
    padding: 10px 20px;
    border: dotted 8px green;
    font-weight: bold;
    text-align: center;
}
.example-5 {
color: gold;
width: 70px;
border: solid 5px;
text-align: center;
text-decoration: underline;
font-weight: bold;
padding: 10px;
border-top-color: green;
border-left-color: lightskyblue;
border-right-color: black;
border-bottom-color: pink;
}
