li {
    margin-bottom: 15px;
}
.example-1 {
    width: 70px;
    padding: 10px 20px;
    border: 2px solid black;
}
.example-2 {
    color: black;
    background-color: coral;
    width: 80px;
    padding: 10px 0px;
    text-align: center;
}
.example-3 {
    width: 70px;
    color: red;
    font-size: 17px;
    border: dashed 3px red;
    padding: 10px;
    font: bold;
}
.example-4 {
    color: darkblue;
    width: 150px;
    padding: 10px 20px;
    border: dotted 8px green;
    font-weight: bold;
    text-align: center;
}
.example-5 {
color: gold;
width: 70px;
border: solid 5px;
text-align: center;
text-decoration: underline;
font-weight: bold;
padding: 10px;
border-top-color: green;
border-left-color: lightskyblue;
border-right-color: black;
border-bottom-color: pink;
}
.example-6 {
    color: white;
    background-color: black;
    width: 120px;
    text-align: end;
    border: solid 1px;
    padding: 10px;
}
.example-7 {
    color: burlywood;
    background-color: rgb(255, 255, 236); 
    padding: 12px;
    border: solid 3px burlywood;
    width: 120px;
}
.example-8 {
    color: white;
    background-color: blueviolet;
    width: 125px;
    border: dashed 5px blue;
    text-align: center;
}
.example-9 {
    color: white;
    background-color: darkred;
    border: solid 1px;
    text-align: center;
    width: 110px;
    height: 25px;
    text-align: center;
    padding-top: 10px;
    border: dotted 20px coral;
}
.example-10 {
    color: white;
    background-color: goldenrod;
    width: 70px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px;
    border: dashed 19px white;
}
td{
    width: 150px;
    padding-left: 10px;
}
.table-1 {
    background-color: rgba(110, 102, 102, 0.171);
    padding: 5px;
    text-align: center;
    
}
.table-6 {
    background-color: rgba(128, 128, 128, 0.158);
    text-align: center;
}
.td-1{
    background-color: rgba(128, 128, 128, 0.158);
    text-align: center;
}
.td-2{
    background-color: rgba(128, 128, 128, 0.158);
    text-align: center;
}
.td-3{
    background-color: rgba(128, 128, 128, 0.158);
    text-align: center;
}
.t-1 {
    color: white;
    background-color: rgb(14, 14, 202);
}
.t-3 {
    background-color: gainsboro;
}
.t-5 {
    background-color: gainsboro;
}
.t-8 {
    background-color: gainsboro;
}
.td-4{
    text-align: right;
}
.td-5{
    text-align: right;
}
.td-6{
    text-align: right;
}
hr {
    margin: 40px 0;
}
.grey {
    background-color: rgba(128, 128, 128, 0.336);
}
.alt-1 {
    font-weight: bold;
    text-align: right;
    border-collapse: collapse;
}
#button-1 {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    font-weight: bold;
 }
 


