li {
    margin-bottom: 15px;
}
.example-1 {
    width: 70px;
    padding: 10px 20px;
    border: 2px solid black;
}
.example-2 {
    color: black;
    background-color: coral;
    width: 80px;
    padding: 10px 0px;
    text-align: center;
}
.example-3 {
    width: 70px;
    color: red;
    font-size: 17px;
    border: dashed 3px red;
    padding: 10px;
    font: bold;
}
